[submodule "vim-files/vim/bundle/vundle"]
	path = vim-files/vim/bundle/vundle
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "tmux-files/tmux/plugins/tpm"]
	path = tmux-files/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/base16-shell"]
	path = zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "zsh/oh-my-zsh-custom/plugins/zsh-nvm"]
	path = zsh/oh-my-zsh-custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "zsh/oh-my-zsh-custom/plugins/zsh-vi-mode"]
	path = zsh/oh-my-zsh-custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
