snippet ngcomponent
(function() {
	'use strict';

	angular
		.module('${1:module}')
		.component('${2:component}', {
			controller: ${3:Controller},
			controllerAs: '${4:vm}',
			bindings: {
			}
		});

	/* @ngInject */
	function $3() {

	}
})();
endsnippet
